@model UnitTestingInNet_FinalProject.Models.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Confirm Order";
}

<h1>Confirm Order</h1>

<div class="container">
    <form asp-action="OrderConfirmed" method="post">
    <h3>Order Summary</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.CartItems != null && Model.CartItems.Count > 0)
            {
                foreach (var cartItem in Model.CartItems)
                {
                    <tr>
                        <td>@cartItem.Product.Name</td>
                        <td>@cartItem.ProductQuantity</td>
                        <td>@(cartItem.Product.Price * cartItem.ProductQuantity)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No items in the cart.</td>
                </tr>
            }
        </tbody>
    </table>
 

    <h3>Order Details</h3>
 
        @{
            int totalQuantity = 0;
            if (Model != null && Model.CartItems != null)
            {
                totalQuantity = Model.CartItems.Sum(ci => ci.ProductQuantity);
            }
            Model.OrderedQuantity = totalQuantity;
        }
        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="MailingCode">Mailing Code</label>
            <input asp-for="MailingCode" class="form-control" required />
        </div>
        <input type="hidden" asp-for="OrderedQuantity" />
        <input type="hidden" asp-for="TotalPrice" />

        @if (Model != null && Model.SelectedConversionRate != null)
        {
            <div class="form-group">
                <label> Country ConversionRate: @(Model.SelectedConversionRate.ToString("C"))</label>
            </div>
        }

        @if (Model != null && Model.SelectedTaxRate != null)
        {
            <div class="form-group">
                <label>Tax (@Model.SelectedCountryName Rate): @(Model.SelectedTaxRate.ToString("C"))</label>
            </div>
        }

        @if (Model != null && Model.TotalPrice != null)
        {
            <div class="form-group">
                <label> Final Total Price (with Taxes): @(Model.TotalPrice.ToString("C"))</label>
            </div>
        }

      
            <button type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    
</div>

